.image{
    width: 320px;
    height: 300px;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.btn{
    padding: 10px;
    width: 100px;
    background-color: rgb(50, 99, 50);
    color: white;
    display: none;
}

.new-image{
    width: 900px;
    height: 840px;
}

.image:hover {
    width: 600px;
    height: 580px;
    transition: 3s;
}
