*{
    margin: 0;
    padding: 0;
}

.menu{
    height: 40px;
    background: cyan;
    justify-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
}

.section1, .section2, .section3{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1{
    background: aliceblue;
}

.section2{
    background: rgb(129, 128, 126);
}

.section3{
    background: rgb(192, 192, 238);
}


